**/.git
**/.svn
**/.hg
**/node_modules
node_modules
/node_modules
package.json
package-lock.json
pnpm-lock.yaml
yarn.lock
docker
docker*.yml
Makefile
.env
.env.*
LICENSE
README.md 
readme.md
.gitignore
.husky
dist
/dist
.nvmrc